<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <!-- todo sửa link bên intelij -->
    <link rel="stylesheet" href="/resources/css/style.css" />
  </head>
  <body>
    <div class="container">
      <!-- Modal -->
      <div class="modal" id="errorModal">
        <p id="errorMessage"></p>
      </div>
      <h1>login</h1>
      <form
        action="http://localhost:8080/user/login"
        method="post"
        id="login"
        onsubmit="doPostLogin(event)"
      >
        <div class="main-form">
          <div class="form-row">
            <label for="userName">User Name</label>
            <input type="text" name="userName" id="userName" maxlength="20" />
          </div>
          <div class="form-row">
            <label for="password">Password</label>
            <input
              type="text"
              name="password"
              id="password"
              minlength="6"
              maxlength="15"
            />
          </div>
        </div>
        <div class="button">
          <button type="submit" id="btnSubmit">Login</button>
          <button><a href="/templates/register.html">Register</a></button>
        </div>
      </form>
    </div>

    <!-- script js -->
    <script src="/resources/js/script.js"></script>
    <script>
      function doPostLogin(event) {
        event.preventDefault();
        if (!validateLogin()) {
          return;
        }
        var url = "http://localhost:8080/user/login";

        var user = {};
        user.userName = document.getElementById("userName").value;
        user.password = document.getElementById("password").value;

        console.log(user);

        // call api
        fetch(url, {
          method: "POST",
          body: JSON.stringify(user),
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => response.json())
          .then((data) => {
            console.log("data ", data);
            if (data.userId === null) {
              showNotify("đăng nhập thất bại");
            } else {
              showNotify("đăng nhập thành công");
              localStorage.setItem("user", JSON.stringify(data));
              console.log("luu local 'user': ", data);
              setTimeout((window.location.href = "/templates/list.html"), 2500);
            }
          })
          .catch((error) => {
            console.error("error", error);
          });
      }
    </script>
  </body>
</html>
