<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Student</title>
    <link rel="stylesheet" href="/resources/css/style.css" />
    <style>
      .input-short {
        width: 15%;
      }
      .input-medium {
        width: 30%;
        margin-right: 5px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <!-- Modal -->
      <div class="modal" id="errorModal">
        <p id="errorMessage"></p>
      </div>
      <h1 id="title">Register - update</h1>
      <form
        action="http://localhost:8080/student/save"
        method="post"
        id="register-update"
        onsubmit="doPost(event)"
      >
        <input type="number" name="studentInfoId" id="studentInfoId" hidden />
        <div class="main-form">
          <div class="form-row">
            <label for="studentId">Student ID</label>
            <input
              class="input-short"
              type="text"
              name="studentId"
              id="studentId"
              value=""
              readonly
            />
          </div>

          <div class="form-row">
            <label for="studentCode">Student Code</label>
            <input
              class="input-medium"
              type="text"
              name="studentCode"
              id="studentCode"
              maxlength="10"
              readonly
            />
            <button type="button" onclick="generationCode()">
              Generate Code
            </button>
          </div>

          <div class="form-row">
            <label for="studentName">Student Name</label>
            <input
              class="input-medium"
              type="text"
              name="studentName"
              id="studentName"
              maxlength="20"
            />
          </div>

          <div class="form-row">
            <label for="dateOfBirth">Birthday</label>
            <input
              class="input-medium"
              type="date"
              name="dateOfBirth"
              id="dateOfBirth"
            />
          </div>

          <div class="form-row">
            <label for="address">Address</label>
            <input
              class="input"
              type="text"
              name="address"
              id="address"
              maxlength="255"
            />
          </div>

          <div class="form-row">
            <label for="averageScore">Average Score</label>
            <input
              class="input-short"
              type="number"
              min="0"
              max="10"
              step="0.1"
              name="averageScore"
              id="averageScore"
            />
          </div>
        </div>

        <div class="button">
          <button type="button" onclick="window.location.href='./list.html'">
            Back
          </button>
          <button type="submit" id="btnSubmit">Save</button>
        </div>
      </form>
    </div>

    <!-- script js -->
    <script src="/resources/js/script.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const studentData = JSON.parse(localStorage.getItem("student"));
        console.log("student ", studentData);
        localStorage.removeItem("student");

        if (studentData != null) {
          document.getElementById("studentId").value = studentData.studentId;
          document.getElementById("studentCode").value =
            studentData.studentCode;
          document.getElementById("studentName").value =
            studentData.studentName;
          document.getElementById("dateOfBirth").value = convertDateFormat(
            studentData.dateOfBirth
          );
          document.getElementById("address").value = studentData.address;
          document.getElementById("averageScore").value =
            studentData.averageScore;

          document.getElementById("studentInfoId").value =
            studentData.studentInfoId;

          document.getElementById("title").textContent = "Update";
        } else {
          document.getElementById("title").textContent = "Register";
        }
      });

      // post form
      function doPost(event) {
        event.preventDefault();
        const student = {};

        student.studentInfoId = parseInt(
          document.getElementById("studentInfoId").value,
          10
        );
        student.studentId = parseInt(
          document.getElementById("studentId").value,
          10
        );
        student.studentCode = document.getElementById("studentCode").value;
        student.studentName = document.getElementById("studentName").value;

        var parts = document.getElementById("dateOfBirth").value.split("-");
        student.dateOfBirth = parts[0] + "/" + parts[1] + "/" + parts[2];

        student.address = document.getElementById("address").value;
        student.averageScore = parseFloat(
          document.getElementById("averageScore").value
        );

        fetch("http://localhost:8080/student/save", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(student),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log("Response from server:", data);
            showNotify("đã lưu");
          })
          .catch((error) => console.error("Error:", error));
      }
    </script>
  </body>
</html>
